{% extends "layout.html" %}
{% block body %}

<div class="starter-template">

{#    <div class="alert alert-warning" style="margin-top: 20px">test</div>#}
<div class="well well-sm text-center">

    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='up') }}"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
    </div>
    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='left') }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='select') }}"><span class="glyphicon glyphicon-screenshot"></span></a>
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='right') }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='down') }}"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    </div>

    <hr/>

    <div>
      <div class="btn-group">
        <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='backward') }}"><span class="glyphicon glyphicon-step-backward"></span></a>
        <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='stop') }}"><span class="glyphicon glyphicon-stop"></span></a>
        <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='playpause') }}"><span class="glyphicon glyphicon-play"></span></a>
        <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='forward') }}"><span class="glyphicon glyphicon-step-forward"></span></a>
      </div>
    </div>

    <hr/>

    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='home') }}"><span class="glyphicon glyphicon-home"></span></a>
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='party') }}"><span class="glyphicon glyphicon-glass"></span></a>
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='scan-video') }}"><span class="glyphicon glyphicon-film"></span></a>
            <a class="btn btn-default btn-lg" href="{{ url_for('execute', action='scan-music') }}"><span class="glyphicon glyphicon-music"></span></a>
        </div>

    </div>
</div>
</div>

{% endblock %}
