{% extends "layout.html" %}
{% block body %}

<div class="starter-template">

{#    <div class="alert alert-warning" style="margin-top: 20px">test</div>#}
<div class="well well-sm text-center">

    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg glyphicon glyphicon-chevron-up" href="{{ url_for('execute', action='up') }}"></a>
        </div>
    </div>
    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg glyphicon glyphicon-chevron-left" href="{{ url_for('execute', action='left') }}"></a>
            <a class="btn btn-default btn-lg glyphicon glyphicon-screenshot" href="{{ url_for('execute', action='select') }}"></a>
            <a class="btn btn-default btn-lg glyphicon glyphicon-chevron-right" href="{{ url_for('execute', action='right') }}"></a>
        </div>
    </div>
    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg glyphicon glyphicon-chevron-down" href="{{ url_for('execute', action='down') }}"></a>
        </div>
    </div>

    <hr/>

    <div>
      <div class="btn-group">
        <a class="btn btn-default btn-lg glyphicon glyphicon-step-backward" href="{{ url_for('execute', action='backward') }}"></a>
        <a class="btn btn-default btn-lg glyphicon glyphicon-stop" href="{{ url_for('execute', action='stop') }}"></a>
        <a class="btn btn-default btn-lg glyphicon glyphicon-play" href="{{ url_for('execute', action='playpause') }}"></a>
        <a class="btn btn-default btn-lg glyphicon glyphicon-step-forward" href="{{ url_for('execute', action='forward') }}"></a>
      </div>
    </div>

    <hr/>

    <div>
        <div class="btn-group">
            <a class="btn btn-default btn-lg glyphicon glyphicon-home" href="{{ url_for('execute', action='home') }}"></a>
            <a class="btn btn-default btn-lg glyphicon glyphicon-glass" href="{{ url_for('execute', action='party') }}"></a>
            <a class="btn btn-default btn-lg glyphicon glyphicon-film" href="{{ url_for('execute', action='scan-video') }}"></a>
            <a class="btn btn-default btn-lg glyphicon glyphicon-music" href="{{ url_for('execute', action='scan-music') }}"></a>
        </div>

    </div>
</div>
</div>

{% endblock %}